absl-py==2.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.2
altair==5.4.1
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1710965072196/work
annotated-types==0.7.0
anthropic==0.34.2
anyio==4.4.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
auth0-python==4.7.2
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
boto3==1.35.19
botocore==1.35.19
Brotli @ file:///croot/brotli-split_1714483155106/work
bs4==0.0.2
build==1.2.2
CacheControl==0.14.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
cleo==2.1.0
click==8.1.7
cohere==5.9.1
coloredlogs==15.0.1
comm==0.2.1
conda @ file:///croot/conda_1714403036266/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///croot/conda-package-handling_1714483155348/work
conda_package_streaming @ file:///work/perseverance-python-buildout/croot/conda-package-streaming_1698847176583/work
contourpy==1.2.1
crashtest==0.4.1
crewai==0.55.2
crewai-tools==0.12.0
cryptography==43.0.1
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dirtyjson==1.0.8
distlib==0.3.8
distro @ file:///croot/distro_1714488253808/work
dnspython==2.6.1
docker==7.1.0
docstring_parser==0.16
docx2txt==0.8
dulwich==0.21.7
email_validator==2.1.1
embedchain==0.1.121
exa-py==1.1.3
executing==2.0.1
fastapi==0.114.1
fastapi-cli==0.0.4
fastavro==1.9.7
fastjsonschema==2.20.0
ffmpy==0.3.2
filelock==3.16.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.9.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.2
google-auth==2.34.0
google-cloud-aiplatform==1.66.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gptcache==0.1.44
gradio==4.31.4
gradio_client==0.16.4
greenlet==3.1.0
groq==0.11.0
grpc-google-iam-v1==0.13.1
grpcio==1.66.1
grpcio-status==1.62.3
grpcio-tools==1.62.3
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.24.7
humanfriendly==10.0
hyperframe==6.0.1
idna==3.8
importlib_metadata==8.4.0
importlib_resources==6.4.5
iniconfig==2.0.0
installer==0.7.0
instructor==1.3.3
ipykernel==6.29.2
ipython==8.21.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
jiter==0.4.2
jmespath==1.0.1
joblib==1.4.2
json_repair==0.25.3
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==3.5.0
keyring==24.3.1
kiwisolver==1.4.5
kubernetes==30.1.0
lancedb==0.5.7
langchain==0.2.16
langchain-anthropic==0.1.23
langchain-cohere==0.1.9
langchain-community==0.2.17
langchain-core==0.3.8
langchain-experimental==0.0.65
langchain-groq==0.2.0
langchain-ollama==0.2.0
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langgraph==0.2.34
langgraph-checkpoint==2.0.0
langsmith==0.1.131
libclang==18.1.1
libmambapy @ file:///croot/mamba-split_1714483352891/work/libmambapy
lippy==0.0.5
llama-index-core==0.11.9
llama-index-readers-file==0.2.1
llama-parse==0.5.5
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mem0ai==0.0.20
menuinst @ file:///croot/menuinst_1714510563922/work
ml-dtypes==0.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.5.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.8.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
ollama==0.3.3
onnxruntime==1.19.2
openai==1.45.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.7
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
parameterized==0.9.0
parso==0.8.3
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.1
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
plotly==5.24.1
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
portalocker==2.10.1
posthog==3.6.5
prettytable==3.10.0
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==4.25.4
psutil==5.9.8
ptyprocess==0.7.0
pulsar-client==3.5.0
pure-eval==0.2.2
py==1.11.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser==2.22
pydantic==2.9.1
pydantic-settings==2.5.2
pydantic_core==2.23.3
pydeck==0.9.1
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.18.0
PyJWT==2.9.0
pylance==0.9.18
PyMsgBox==1.0.9
pyparsing==3.1.2
pypdf==4.3.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.1.0
PyRect==0.2.0
pyright==1.1.380
pysbd==0.3.4
PyScreeze==1.0.1
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
python3-xlib==0.15
pytube==15.0.0
pytweening==1.2.0
pytz==2024.2
pywhatkit==5.4
PyYAML==6.0.2
pyzmq==25.1.2
q==2.7
qdrant-client==1.11.1
rapidfuzz==3.9.7
ratelimiter==1.2.0.post0
referencing==0.35.1
regex==2024.9.11
requests @ file:///croot/requests_1707355572290/work
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rich==13.8.1
rpds-py==0.20.0
rsa==4.9
ruamel.yaml @ file:///work/perseverance-python-buildout/croot/ruamel.yaml_1698863605521/work
ruff==0.4.4
s3transfer==0.10.2
schema==0.7.7
scikit-learn==1.4.2
scipy==1.13.0
SecretStorage==3.3.3
secure-smtplib==0.1.1
selenium==4.24.0
semantic-version==2.10.0
semver==3.0.2
setuptools==74.1.2
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.34
sseclient==0.0.27
stack-data==0.6.3
starlette==0.38.5
streamlit==1.38.0
streamlit-lottie==0.0.5
streamlit-quill==0.0.3
striprtf==0.0.26
sympy==1.13.2
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.20.0
toml==0.10.2
tomlkit==0.13.2
toolz==0.12.1
tornado==6.4.2
tqdm @ file:///croot/tqdm_1714567712644/work
traitlets==5.14.1
trio==0.26.2
trio-websocket==0.11.1
trove-classifiers==2024.9.12
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
typer==0.12.5
types-requests==2.32.0.20240907
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
urllib3 @ file:///croot/urllib3_1707770551213/work
uvicorn==0.30.6
uvloop==0.20.0
virtualenv==20.26.4
watchdog==4.0.2
watchfiles==0.24.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==3.0.4
wheel==0.43.0
wikipedia==1.4.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.11.1
zipp==3.20.2
zstandard @ file:///croot/zstandard_1714677652653/work
